{% extends 'base.html' %}
{% block content %}
<h1>An error occurred: 404 Not Found</h1>
<p>You can't be looking for something. Our site is very simple. Just try again from the beginning.</p>
<button id="back">&larr; Okay, go back</button>
<script>
    document.querySelector('#back').onclick = function () {
        history.back()
    }
</script>
{% endblock %}