{% extends 'base.html' %}
{% block content %}
<h1>Add note</h1>
{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}
<form method="post">
    <label for="title">Title</label>
    <input type="text" placeholder="Title" id="title" name="title" required>
    <label for="text">Content</label>
    <textarea placeholder="Some interesting note" id="text" name="text" required></textarea>
    <p>
        <input type="checkbox" name="secret" id="secret">
        <label for="secret">Secret note</label>
    </p>
    <input type="submit" value="Create">
</form>
{% endblock %}