<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>My Awesome&trade; Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.min.css') }}">
</head>
<body>
{% block content %}{% endblock %}
<footer>
    <a href="{{ url_for('index') }}">&larr; Go home</a>
    {% if session.get('user_id') %}
        | Logged in as <b>{{ session.get('username') }}</b>
        | <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
    <p>Copyright &copy; My Awesome&trade; Notes, 2021</p>
</footer>
</body>
</html>