{% extends 'base.html' %}
{% block content %}
<h1>Recover password</h1>
{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}
<form method="post">
    <label for="password">New password for <b>{{ user.username }}</b></label>
    <input type="password" placeholder="********" id="password" name="password" required>
    <p><input type="submit" value="Change password"></p>
</form>
{% endblock %}