<h1>My Awesome™ Notes</h1>
<p>
    Thank you for using My Awesome&trade; Notes. Here is a password recovery link for <b>{{ user.username }}</b>:
    <a href="{{ request.host_url.rstrip('/') + url_for('actual_recover', token=token) }}">reset my password</a>.
</p>
<p>If you didn't ask us to reset your password, simply ignore this message.</p>
