{% extends 'base.html' %}
{% block content %}
<h1>Log in</h1>
{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}
<form method="post">
    <label for="username">Username</label>
    <input type="text"
           placeholder="username"
           id="username"
           name="username"
           value="{{ session.get('username', '') }}"
           required>
    <label for="password">Password</label>
    <input type="password" placeholder="********" id="password" name="password" required>
    <p><a href="{{ url_for('forgot_password_form') }}">Forgot password?</a></p>
    <input type="submit" value="Log in">
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register now!</a></p>
</form>
{% endblock %}