{% extends 'base.html' %}
{% block content %}
{% if username %}
    <h1>Notes of {{ username }}</h1>
{% else %}
    <h1>Your notes</h1>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}

<h2>Public notes</h2>
{% for note in notes if not note.is_private %}
    <div>
        <details>
            <summary>{{ note.title }}</summary>
            <p style="white-space: pre-wrap;">{{ note.text }}</p>
        </details>
    </div>
{% else %}
    <p>No notes for you :(</p>
{% endfor %}

<h2>Secret notes</h2>
{% for note in notes if note.is_private %}
    <div>
        <details>
            <summary>{{ note.title }}</summary>
            {% if not username %}
                <p style="white-space: pre-wrap;">{{ note.text }}</p>
            {% else %}
                <p><i><u>You can't see secret notes of others</u></i></p>
            {% endif %}
        </details>
    </div>
{% else %}
    <p>No notes for you :(</p>
{% endfor %}

{% if not username %}
    <button id="add">Add note!</button>
{% endif %}

<script>
    document.querySelector('#add').onclick = function () {
        location.href = '{{ url_for('add_note') }}'
    }
</script>
{% endblock %}