{% extends 'base.html' %}
{% block content %}
<h1>Recover password</h1>
{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}
<form method="post">
    <p>We will send you an email with password recovery link to account address</p>
    <label for="username">Username</label>
    <input
            type="text"
            placeholder="username"
            id="username"
            name="username"
            value="{{ session.get('username', '') }}"
            required>
    <p><input type="submit" value="Send email"></p>
</form>
{% endblock %}