{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
{% with messages = get_flashed_messages() %}
    {% for error in messages %}
        <p style="color: red;">An error occurred: {{ error }}</p>
    {% endfor %}
{% endwith %}
<form method="post">
    <label for="email">Email</label>
    <input type="email"
           placeholder="username@example.com"
           id="email"
           name="email"
           value="{{ session.get('email', '') }}"
           required>
    <label for="username">Username</label>
    <input type="text"
           placeholder="username"
           id="username"
           name="username"
           value="{{ session.get('username', '') }}"
           required>
    <label for="password">Password</label>
    <input type="password" placeholder="********" id="password" name="password" required>
    <p><input type="submit" value="Register"></p>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in now!</a></p>
</form>
{% endblock %}