<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}SecNote{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">SecNote</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto">
                        <a class="nav-link" href="{{ url_for('notes') }}">Мои заметки</a>
                        <a class="nav-link" href="{{ url_for('new_note') }}">Создать</a>
                    </div>
                    <div class="d-flex">
                        {% if not current_user.is_anonymous %}
                        <a href="{{ url_for('logout') }}" class="nav-link">Выйти</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="nav-link">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="row">
                    {% for category, message in messages %}
                        {% if category == "new-note-success" %}
                            <div class="card border-success mb-3 col-sm-3 mx-auto">
                                <div class="card-header border-success text-success bg-transparent">Заметка успешно создана!</div>
                                <div class="card-body border-success">
                                    <h5 class="card-title">{{ message["title"] }}</h5>
                                    <p class="card-text">{{ message["content"] }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert {{ 'alert-primary' if category == 'message' else category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>