{% extends 'base.html' %}
{% block content %}
<h1 class="display-2">Добро пожаловать в заметки!</h1>
<p class="lead">Здесь вы можете <strong>безопасно</strong> записать свои мысли о чем-нибудь</p>
{% endblock %}