{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="col-md-3 mx-auto">

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control")}}
        </div>
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь!</a></p>
        <div class="mb-3 form-check">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form_label") }}
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}