{% extends 'base.html' %}
{% block title %}Новая заметка{% endblock %}
{% block content %}
<div class="col-md-5 mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control")}}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}