{% extends 'base.html' %}
{% block title %}Заметки {{ current_user.username }} {% endblock %}
{% block content %}
    {% if notes %}
        <div class="row row-cols-5 row-cols-sm-4">
        {% for note in notes %}
            <div class="col my-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('notes', note_id=note.id) }}">{{ note.title }}</a></h5>
                        <p class="card-text">{{ note.content|truncate(125) }}</p>
                    </div>
                    <div class="card-footer">
                        <small>{{ note.timestamp.strftime("%d.%m %H:%M") }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3 class="display-4">Здесь пока пусто.</h3>
        <p class="lead">Сейчас здесь нет ни одной заметки, но не беда! Создайте новую, нажав на "Создать" выше.</p>
    {% endif %}
{% endblock %}